/* Set-up */
.topnav {
	color: rgb(6, 106, 117);
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 100%;
	background: #F4F6F8;
	padding: 6em 0 0 0;
	line-height: 10px;
	-webkit-perspective: 1000000000000000000px;
	z-index: 2; 
}

/* Container box to set the sides relative to */
.cube {
	width: 100px;
	text-align: center;
	margin: 100px ;
	color: black;
	height: 10px;

	-webkit-transition: -webkit-transform .33s;
	transition: transform .33s; /* Animate the transform properties */

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.flippety,.flop {
	background: rgb(247, 247, 247);
	border: 10px rgba(147, 184, 189, .8);

	

	-webkit-box-shadow: 90 90px 90px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
	box-shadow: 0 0px 0px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
	height: 0px;
}

/* Position the faces */
.flippety {
	-webkit-transform: translateZ(10px);
	transform: translateZ(10px);
}

.flop {
	-webkit-transform: rotateX(-90deg) translateZ(-10px);
	transform: rotateX(-90deg) translateZ(-10px);
}

/* Rotate the cube */
.cube:hover {
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	text:display;/* Text bleed at 90º */
}
